
<div class="container">

  <!-- Formulario -->
  <form>
    <input type="text" placeholder="Hotel" [(ngModel)]="hotel.nomeHotel" name="nomeHotel">
    <input type="number" placeholder="Endereço" [(ngModel)]="hotel.endHotel" name="endHotel">
    <input type="number" placeholder="Avaliação" [(ngModel)]="hotel.notaHotel" name="notaHotel">
    <input type="button" value="Cadastrar" (click)="cadastrar()" *ngIf="id<0">
    <input type="button" value="Editar" (click)="atualizar()" *ngIf="id>=0">
</form>

<!-- Tabela -->

<table>
    <tr>
        <td>Hotel</td>
        <td>Endereço</td>
        <td>Avaliação</td>
        <td>Ações</td>
    </tr>

    <tr *ngFor="let hotel of vetorHotel; let id = index">
        <td>{{hotel.nomeHotel}}</td>
        <td>{{hotel.endHotel}}</td>
        <td>{{hotel.notaHotel}}</td>
        <td><button (click)="editar(id)" class="p-1 btn btn-primary">Editar</button></td>
        <td><button (click)="excluir(id)"class="p-1 btn btn-danger">Excluir</button></td>
    </tr>
</table>


</div>
